* {
    margin: 0;
    padding: 0;
}
h1 { 
    margin-left: 25px
}
h2 {
    font-size: 120%;
    padding: 10px;
    cursor: pointer;
}
h2.minus {
}
a:focus, a:hover { color: blue; }

div {
    display: none;
}
div.open {
    display: block;
}
p {
    padding-bottom: .25em;
    padding-left: 65px;
}
ul {
    padding-left: 100px;
}
li {
    padding-bottom: .25em;
}